#equation {
    display: inline-flex;
    list-style: none;
    padding: 50px;
}

#equation li {
    padding: 0px 20px;
    font: 80px Verdana;
    color: var(--darkblue);
}

#equation li input {
    padding: 0px 0px;
    border-radius: 0.2em;
    border: 3px solid var(--orange);
    outline-style: none;
    font: 80px Verdana;
    resize: none;
    text-align: center;
    background-color: var(--lightblue);
    color: var(--darkblue);
}

#score-label {
    font: 50px Verdana;
}

#score {
    font: 50px Verdana;
    font: 50px Verdana;
    color: var(--orange);
}

div {
    color: var(--darkblue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}